<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- My CSS Sheet-->
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'longboarding.css' %}">

    <!-- FontAwesome-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Longboarding</title>
</head>
<body>
    <header>
        <nav class="trading-navigation">

            <div class="navbar">
                    <a href="mailto:brennanman007@gmail.com?subject=Brennan Manion Website Portfolio">Contact</a>
                <a href="../">Home</a>                
                <div class="dropdown">
                    <button class="dropbtn">Hobbies 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/trading/">Trading</a>
                        <a href="/reading/">Reading</a>
                        <a href="/entrepreneurship/">Entrepreneurship</a>
                        <a href="/tutorials/">Tutorials</a>
                        <a href="/weightlifting/">Weightlifting</a>
                        <a href="/snowboarding/">Snowboarding</a>
                        <a href="/music/">Music</a>
                        <a href="/longboarding/">Longboarding</a>
                    </div>
                </div>                 
            </div>

        </nav>
        <div class="hero-image">
            <span class="hero-header1">Longboarding</span>
        </div>
    </header>

    <div class="row">
        <div class="left-side">   

            <a href="/trading/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-trading.jpg' %}" alt="hobbies - trading">
                        <span>Trading</span>
                    </figure>
                </div> 
            </a>

            <a href="/reading/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-reading.jpg' %}" alt="hobbies - reading">
                        <span>Reading</span>
                    </figure>
                </div> 
            </a>

            <a href="/entrepreneurship/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-entrepreneur.jpg' %}" alt="hobbies - entrepreneur">
                        <span>Entrepreneurship</span>
                    </figure>
                </div>  
            </a>
            

            <a href="/tutorials/">
                <div class="hobby">
                        <figure class="hobby-photo">
                            <img src="{% static 'hobby-tutorials.jpg' %}" alt="hobbies - tutorials">
                            <span>Tutorials</span>
                        </figure>
                </div>  
            </a>  

        </div>

        <div class="middle">
            <section class="paragraph-writing">
                <p>
                        Longboarding is a new passion of mine. I was introduced to a longboard when I was 20 years old. When I was a child I was prohibited from using a skateboard. I was always exposed to skate culture through my fashion, my friends, and media. It was not until my college roommates introduced me to longboarding that I took up the activity. Longboarding liberates me from reality and evokes creativity. 
                        <br/><br/>
                        Longboarding is now a tradition. I have a Sunday ritual where I isolate myself, take an hour to meditate and think to myself and create a theme for my thoughts, go and listen to music, then go longboard. It is my favorite thing to do. When I practice this tradition, I collect everything that is on my mind, free myself from these thoughts, and enter a spiritual experience. Engaging in this ritual is therapeutic because it separates me from traditional existence. Being in this presence is liberating as much as it is evoking. 
                        <br/><br/>
                        When I longboard, ideas and emotions are evoked from my detached consciousness. When longboarding, I have innovated new trading techniques. Similarly I come to terms with my bad behavior and improve from it. Guilt resurfaces, but is accompanied with resolution and feelings of forgiveness. Longboarding disengages me from conventional thinking and allows me to contemplate from a different perspective. 
                        <br/><br/>
                        Longboarding is exhilarating as much as it is peaceful. I engage in a relaxed recreational activity that disassociates my mind from actuality and puts me in transcendence. I create new ideas and reflect on myself. Longboarding is a tradition to me.                     
                </p>
            </section>               
        </div>

        <div class="right-side">

            <a href="/weightlifting/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-weightlifting.jpg' %}" alt="hobbies - weightlifting">
                        <span>Weightlifting</span>
                    </figure>
                </div> 
            </a>
    
            <a href="/snowboarding/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-snowboarding.jpg' %}" alt="hobbies - snowboarding">
                        <span>Snowboarding</span>
                    </figure>
                </div> 
            </a>
    
            <a href="/music/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-edm.jpg' %}" alt="hobbies - EDM">
                        <span>Music</span>
                    </figure>
                </div>  
            </a>
                
    
            <a href="/longboarding/">
                <div class="hobby">
                    <figure class="hobby-photo">
                        <img src="{% static 'hobby-longboarding.jpg' %}" alt="hobbies - longboarding">
                        <span>Longboarding</span>
                    </figure>
                </div>  
            </a> 

        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>